@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Narnoor:wght@400;500;600;700;800&display=swap');

:root {
  --oren: #FF7700;
  --hitam: #1E1E1E;
  --putih: #ffffff;
  --merah: #C62129;
  --kuning: #FFBF00;
}

body {
  margin: 0;
  font-family: 'Narnoor', serif;
  background-color: var(--hitam);
}

.nav-link:hover {
  color: var(--oren) !important;
  transition: 0.3s;
}

.btn-hover-oren:hover {
  background-color: var(--oren) !important;
  border-color: var(--oren) !important;
  color: var(--putih) !important;
  transform: translateY(-2px);
  transition: 0.3s;
}